<%- include('partials/header') %>
<% if (!session.loggedIn) {%>
<div class="container mt-4">
    <h3>Welcome to Peeper!</h3>
    <p>You'll want to either sign up or log in. You can do that from the navbar or using the buttons below!</p>
        <div class="container" role="group" aria-label="Login & Register">
            <a href="/user/login" class="btn btn-primary btn-lg">Login</a>
            <a href="/user/register" class="btn btn-success btn-lg">Register</a>
        </div>
</div>
<% }%>
<!-- New reply Modal -->
<div class="modal" tabindex="-1" role="dialog" id="newReplyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply To Peep</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if (!session.loggedIn) { %>
                    <p>You must be logged in to reply.</p>
                <% } else { %>
                    <form action="#" method="POST" id="replyForm">
                        <div class="form-group">
                            <textarea class="form-control" id="reply" name="reply" rows="3"></textarea>
                        </div>
                        <!-- Hidden input for peep id -->
                        <input type="hidden" id="peepId" name="peepId" value="">
                    </form>
                <% } %>
            </div>
            <div class="modal-footer">
                <% if (session.loggedIn) { %>
                    <button type="submit" class="btn btn-primary" form="replyForm">Post Reply</button>
                <% } %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Display all the peeps -->
    <% if (peeps.length > 0) { %>
        <div class="row mt-2">
            <div class="col"></div>
            <div class="col">
                <h4 class="text-center">Public Peeps</h4>
                <% peeps.forEach(peep => { %>
                    <div class="card mb-3" id="peep-<%= peep.id %>">
                        <div class="card-header">
                            <h5><%= peep.author.username %></h5>
                        </div>
                        <div class="card-body">
                            <div id="peepContent">
                                <%= peep.message %>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Written <%= peep.getTimeDifference(); %> | <%= peep.likesCount%> likes</small>
                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <% if (likes.includes(peep.id)) { %>
                                    <button class="btn btn-danger btn-sm" id="unlike-peep-<%= peep.id%>"  onclick="unlikePeep(<%= peep.id %>)" data-toggle="tooltip" data-placement="top" title="Unlike Peep" <% if (!session.loggedIn) { %> disabled <% } %>><i class="fa-solid fa-thumbs-down"></i></button>
                                <% } else { %>
                                <button class="btn btn-success btn-sm" id="like-peep-<%= peep.id%>"  onclick="likePeep(<%= peep.id %>)" data-toggle="tooltip" data-placement="top" title="Like Peep" <% if (!session.loggedIn) { %> disabled <% } %>><i class="fa-solid fa-thumbs-up"></i></button>
                                <% } %>
                                <button class="btn btn-info btn-sm" id="reply-peep-<%= peep.id%>" onclick="replyPeep(<%= peep.id %>)" data-toggle="tooltip" data-placement="top" title="Reply To Peep" <% if (!session.loggedIn) { %> disabled <% } %>><i class="fa-solid fa-message"></i></button>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="col"></div>
        </div>
    <% } %>
</div>
<%- include('partials/footer') %>
<script>
    function likePeep(peepId) {
        let button = $('#like-peep-' + peepId);
        $.ajax({
            url: '/api/peep/' + peepId + '/like',
            type: 'POST',
            success: function(data) {
                // Flip the button to the unlike button
                button.attr('onclick', 'unlikePeep(' + peepId + ')');
                button.attr('title', 'Unlike Peep');
                button.removeClass('btn-success');
                button.addClass('btn-danger');
                button.html('<i class="fa-solid fa-thumbs-down"></i>');
                // Update the likes count
                let footerString = $('#peep-' + peepId + ' .card-footer .text-muted');
                let likesCount = footerString.html();
                let likesCountString = likesCount.split(' | ');
                let likesCountArray = likesCountString[1].split(' ');
                let newLikesCount = parseInt(likesCountArray[0]) + 1;
                likesCountString[1] = newLikesCount + ' likes';
                likesCountString = likesCountString.join(' | ');
                footerString.html(likesCountString);
                // Update the element ID
                button.attr('id', 'unlike-peep-' + peepId);
                // Update the tooltip
                button.attr('data-original-title', 'Unlike Peep');
                button.tooltip('show');
            },
            error: function(data) {
                console.log(data);
            }
        })
    }

    function unlikePeep(peepId) {
        let button = $('#unlike-peep-' + peepId);
        $.ajax({
            url: '/api/peep/' + peepId + '/like',
            type: 'DELETE',
            success: function(data) {
                // Flip the button to the like button
                button.attr('onclick', 'likePeep(' + peepId + ')');
                button.attr('title', 'Like Peep');
                button.removeClass('btn-danger');
                button.addClass('btn-success');
                button.html('<i class="fa-solid fa-thumbs-up"></i>');
                // Update the likes count
                let footerString = $('#peep-' + peepId + ' .card-footer .text-muted');
                let likesCount = footerString.html();
                let likesCountString = likesCount.split(' | ');
                let likesCountArray = likesCountString[1].split(' ');
                let newLikesCount = parseInt(likesCountArray[0]) - 1;
                likesCountString[1] = newLikesCount + ' likes';
                likesCountString = likesCountString.join(' | ');
                footerString.html(likesCountString);
                // Update the element ID
                button.attr('id', 'like-peep-' + peepId);
                // Update the tooltip
                button.attr('data-original-title', 'Like Peep');
                button.tooltip('show');
            },
            error: function(data) {
                console.log(data);
            }
        });
    }

    function replyPeep(peepId) {
        let replyModal = $('#newReplyModal');
        // Set the peep ID of the peepId input
        $('#newReplyModal #peepId').val(peepId);
        replyModal.modal('show');
    }

    $(document).ready(function() {
        // Hook into the replyForm submit event
        $('#replyForm').submit(function(event) {
            event.preventDefault();
            // Get the peep ID
            let peepId = $('#newReplyModal #peepId').val();
            // Get the reply text
            let replyText = $('#newReplyModal #reply').val();
            // Send the reply
            $.ajax({
                url: '/api/peep/' + peepId + '/reply',
                type: 'POST',
                data: {
                    reply: replyText
                },
                success: function(data) {
                    console.log(data);
                    // Close the modal
                    $('#newReplyModal').modal('hide');
                    // Clear the reply text
                    $('#newReplyModal #reply').val('');

                },
                error: function(data) {
                    console.log(data);
                }
            });
        });
    });
</script>
